.Heading{
    background-image: url(../photo/download\ \(7\)\ 3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: max-content;
}